* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 50px); 
    grid-template-rows: repeat(3, 100px);
}

.item-1 {
    background-color: green;
    grid-row: 1/4;
    grid-column: 1/3;
}

.item-2 {
    background-color: aliceblue;
    grid-row: 1/4;
    grid-column: 3/5;
}

.item-3{
    background-color: red;
    grid-row: 1/4;
    grid-column: 5/7;
}