*{
    margin: 0;
}

header{
    background-color: green;
    display: flex;
    justify-content: space-around;
}


.quadrado{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 1px black solid;
    margin: 20px;
    box-sizing: border-box;
}

#conatiner{
    background-color: black;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    height: 200px;
    width: 200px;
}

button{
    height: 20px;
    width: 200px;
}

h2{

    color: white;
}